html {
    box-sizing: border-box;
    overflow-y: scroll;
	overflow-x:none;
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}
.header{
	margin-top:-2vh;
	margin-left:-2vh;
}
.v-card{
	position:absolute;
	top:0;
	bottom:0;
	z-index:4;
	height:20vh;
	margin-bottom:;
    width: 101%;
	border-width: thin;
    display: block;
    outline: none;
    text-decoration: none;
    transition-property: box-shadow,opacity;
    overflow-wrap: break-word;
    position: relative;
    white-space: normal;
	background-color: #fff;
    color: rgba(0,0,0,.87);
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
	border-radius: 8px;
	
}

.ha{
	height:65%;
	background-color:lightgreen;
	display:grid;
	place-items:center;
	text-align:center;
	justify-content:center;
	position:relative;
	width:100%;
}

.hb{
	width:100%;
	height:35%;
	background:green;
	display:flex;
	flex-direction:row;
	
}
.hb a{
	flex:auto;
	max-width:10%;
	height:100%;
	cursor:pointer;
	background-color: transparent;
	text-decoration:none;
	font:19px;
	font-weight:299;
	color:white;
}
.hb a:hover{
	background:#ddd;
}
.v-avatar{
	display:flex;
	align-items: center;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    line-height: normal;
    position: absolute;
	left:2%;
	top:12%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
	margin-top:;
	margin-left:;
	background-color:green;
}
.headline{
	font-size: 1.5rem!important;
    font-weight: 400;
    letter-spacing: normal!important;
	display:grid;
	place-items:center;
	margin-top:;
}
.white--text {
    color: #fff!important;
    caret-color: #fff!important;
}
.ml-3 {
    position:absolute;
	left:6%;
	top:10%;
    margin-left: 3%!important;
}
.font-weight-regular {
    font-weight: 400!important;
}
.title {
    font-size: 2.15rem!important;
    font-weight: 500;
    letter-spacing: .0125em!important;
	line-height: 2rem;
    font-family: Roboto,sans-serif!important;
}
.titleb {
    font-size: 1.85rem!important;
    font-weight: 500;
    letter-spacing: .0125em!important;
	line-height: 1.25rem;
    font-family: Roboto,sans-serif!important;
}
.hidden-xs{
	position:absolute;
	right:2%;    
	
}
.v-btn{margin-left:8px;}
.v-btn:not(.v-btn--round).v-size--default {
    height: 36px;
    min-width: 64px;
    padding: 0 16px;
	border:none;
	cursor:pointer;
	border-radius:28px;
	border: thin solid;
}
.v-btn.v-size--default, .v-btn.v-size--large {
    font-size: .875rem;
}
.mr-3 {
    margin-right: 12px!important;
}
.v-btn {
    align-items: center;
   
    display: inline-flex;
    flex: 0 0 auto;
    font-weight: 500;
    letter-spacing: .0892857143em;
    justify-content: center;
    outline: 0;
    position: relative;
    text-decoration: none;
    text-indent: .0892857143em;
    text-transform: uppercase;
    background:transparent;
    white-space: nowrap;
}
.v-btn:hover{
	background:#ddd;
}
.v-tab {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 0 1 auto;
    font-size: .875rem;
    font-weight: 500;
    justify-content: center;
    letter-spacing: .0892857143em;
    line-height: normal;
    min-width: 90px;
    max-width: 360px;
    outline: none;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.v-tab:before {
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: .3s cubic-bezier(.25,.8,.5,1);
}:after, :before {
    text-decoration: inherit;
    vertical-align: inherit;
}
.active{
	background: #ddd;
	--bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}
.v-dialog__content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: .2s cubic-bezier(.25,.8,.25,1),z-index 1ms;
    width: 100%;
    z-index: 6;
}
.v-dialog {
    border-radius: 4px;
    margin: 24px;
    overflow-y: auto;
    pointer-events: auto;
    transition: .3s cubic-bezier(.25,.8,.25,1);
    width: 100%;
    z-index: inherit;
    outline: none;
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
}

@media only screen and (max-width: 450px) {
	.navtext{
		display:none;
	}
	#column-right{
		display:none;
	}
	.account-container{
		width:160%;
	}
	.account-right{
		margin-left:;
		width:90%;
	}
	.popup{
		display:none;
	}
}

.panel{
	
	margin-top:16vh;
}
.bookings{
	width:90%;
	margin-left:5%;
	margin-top:7%;
	border-width: thin;
    display: flex;
    outline: none;
    text-decoration: none;
    transition-property: box-shadow,opacity;
    overflow-wrap: break-word;
    position: relative;
    white-space: normal;
	background-color: #fff;
    color: rgba(0,0,0,.87);
	
	border-radius: 8px;
	flex-direction:row;
	flex-wrap:wrap;
	height:auto;
}
#bookings{
	display: flex;
	width:90%;
	flex-direction:row;
	flex-wrap:wrap;
}

.booking{
	flex: 1 auto;
	margin-top:3px;
	margin-bottom:9px;
	margin-left:15px;
	width:210px;
	max-height:310px;
	
}
#closebtn{
	position:absolute;
	left:1%;
	color:red;
	cursor:pointer;
	text-decoration:none;
	font-size:18px;
}

.bookingtitle{
	position:absolute;
	bottom:100%;
}

.card {
  width: ;
  min-height: 245px;
  background: white;
  border-radius: 1px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.2s ease-in-out;
 
}

.img {
  width: 100%;
  height: 50%;
 
  background: linear-gradient(#e66465, #9198e5);
  display: flex;
  align-items: top;
  justify-content: right;
}

.save {
  transition: 0.2s ease-in-out;
  border-radius: 10px;
  margin: 20px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.save .svg {
  transition: 0.2s ease-in-out;
  width: 15px;
  height: 15px;
}

.icon-box {
  margin-top: 15px;
  width: 70%;
  padding: 10px;
  background-color: #e3fff9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box svg {
  width: 17px;
}

.text .h3 {
  font-family: 'Lucida Sans' sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: black;
}

.text .p {
  font-family: 'Lucida Sans' sans-serif;
  color: #999999;
  font-size: 13px;
}

.icon-box .span {
  margin-left: 10px;
  font-family: 'Lucida Sans' sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #9198e5;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
}

.save:hover {
  transform: scale(1.1) rotate(10deg);
}

.save:hover .svg {
  fill: #ced8de;
}
.icon-box{
	width:100%;
	margin-bottom:9px;
	margin-left:-9px;
}
#dialog{
	position:fixed;
	width:100%;
	height:100%;
	top:50%;
	left:50%;
	transform:Translate(-50%,-50%);
	display:flex;
	align-items:center;
	text-align:center;
}
#dialog .v-dialog{
	position:absolute;
	left:50%;
	top:50%;
	transform:Translate(-50%,-50%);
}
#column-right{
	display:none;
}
#account-row{
	margin-top:5%;
}
#cancel{
	text-decoration:none;
	font-size:18px;
	color:green;
	cursor:pointer;
	margin-top:8px;
}

.banner {
  width: 39vh;
  height: 29vh;
  background: rgb(17, 4, 134);
  border-radius: 15px;
  box-shadow: rgb(0,0,0,0.7) 5px 10px 50px ,rgb(0,0,0,0.7) -5px 0px 5px;
  display: flex;
  color: white;
  justify-content: center;
  position: relative;
  flex-direction: column;
  background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.banner:hover {
  box-shadow: rgb(0,0,0) 5px 10px 50px ,rgb(0,0,0) -5px 0px 5px;
}

.time-text {
  font-size: 50px;
  margin-top: 0px;
  margin-left: 15px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.time-sub-text {
  font-size: 15px;
  margin-left: 5px;
}

.day-text {
  font-size: 18px;
  margin-top: 0px;
  margin-left: 15px;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.moon {
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: all 0.3s ease-in-out;
}

.card:hover > .moon {
  font-size: 23px;
}
.popup{
	position:fixed;
	right:1%;
	bottom:2%;
	z-index:235;
	
}
.successcard {
  overflow: hidden;
  position: relative;
  text-align: left;
  border-radius: 0.5rem;
  max-width: 320px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  margin:2% auto;
}

.dismiss {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: black;
  border: 2px solid #D1D5DB;
  font-size: 1rem;
  font-weight: 300;
  width: 30px;
  height: 30px;
  border-radius: 7px;
  transition: .3s ease;
}

.dismiss:hover {
  background-color: #ee0d0d;
  border: 2px solid #ee0d0d;
  color: #fff;
}

.header {
  padding: 1.25rem 1rem 1rem 1rem;
}

.image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #e2feee;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  animation: animate .6s linear alternate-reverse infinite;
  transition: .6s ease;
}

.image svg {
  color: #0afa2a;
  width: 2rem;
  height: 2rem;
}



.message {
  margin-top: 0.5rem;
  color: #595b5f;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.actions {
  margin: 0.75rem 1rem;
}

.history {
  display: inline-flex;
  padding: 0.5rem 1rem;
  background-color: #1aa06d;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.track {
  display: inline-flex;
  margin-top: 0.75rem;
  padding: 0.5rem 1rem;
  color: #242525;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #D1D5DB;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

@keyframes animate {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.09);
  }
}
.showalert{
	position:fixed;
	top:8%;
	right:1%;
	z-index:2000;
}

.alertcard {
  max-width: 320px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 0.5rem;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right top, #3f4c6b, #606c88);
  padding: 1rem;
  color: rgb(107, 114, 128);
  box-shadow: 0px 7px 8px -9px rgba(0,0,0,0.4);
}



.content {
  margin-left: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}


.desc {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: rgb(202, 200, 200);
}


.close {
  margin: -0.375rem -0.375rem -0.375rem auto;
  height: 2rem;
  width: 2rem;
  display: inline-flex;
  border-radius: 0.5rem;
  background-color: #606c88;
  padding: 0.375rem;
  color: rgba(255, 255, 255, 1);
  border: none;
}

.close svg {
  height: 1.25rem;
  width: 1.25rem;
}

.close:hover {
  background-color: rgb(58, 69, 83);
}
.button{
	cursor:pointer;
}

.- {
	margin-left:;
	text-align:center;
    padding: 40px 40px 50px 40px;
    background: #fff;
}
.single-boking-form .sub-title h5 {
    letter-spacing: 3px;
}
.single-boking-form .main-title h2 {
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    margin: 10px 0 30px;
}
.single-boking-form .boking-titles h4 {
    font-size: 17px;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
    color: #000;
}
.single-boking-form .form-button button {
    display: inline-block;
    color: #fff;
    padding: 12px 160px;
    text-transform: capitalize;
    transition: 0.5s;
    font-size: 16px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-weight: 400;
    background: #DBA765;
    border: 1px solid #DBA765;
    font-family: 'Josefin Sans', sans-serif;
}
.single-boking-form .form-button button:hover {
    background: #232323;
    border: 1px solid #232323;
}
.row {
	display:flex;
	text-align:center;
	justify-content:center;
	flex-wrap:nowrap;
    margin-left:-10px;
	margin-right:-12px;
}
.row .col-lg-6{
	flex:auto;
	width:;
	margin-left:12px;
	margin-right:32px;
}
#loginform{
	position:absolute;
	top:50%;
	left:50%;
	transform:Translate(-50%,-50%);
	min-width:340px;
	max-width:520px;
}
#loginform form-group{
	margin-left:-25px;
	
}
#resetform{
	position:absolute;
	top:50%;
	left:50%;
	transform:Translate(-50%,-50%);
	min-width:340px;
	max-width:420px;
}
#content{
	overflow-x:scroll;
	
}
.btn{
	cursor:pointer;
}

.form_box {
	width:;
    margin-bottom: 15px;
	
}
.form_box input {
    width: 100%;
    height: 54px;
    padding: 0 10px 0 20px;
    background: #F8F5F0;
    border-radius: 3px;
    transition: .5s;
    border: 1px solid #e6e6e6;
    font-family: 'Josefin Sans', sans-serif;
    color: #666;
    text-transform: capitalize;
    font-size: 12px;
	margin-left:-20px;
}
.col-md-6{

}
.form_box select {
    width: 100%;
    height: 54px;
    padding: 0 10px 0 20px;
    background: #F8F5F0;
    border-radius: 3px;
    transition: .5s;
    border: 1px solid #e6e6e6;
    font-family: 'Josefin Sans', sans-serif;
    color: #666;
}
.form_box textarea {
    width: 100%;
    padding-left: 20px;
    padding-top: 15px;
    border: 1px solid #EEECFE;
    height: 150px;
    outline: 0;
    transition: .5s;
    background: #fff;
    margin-top: 7px;
}
 .form_box input:focus{
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
    border-color: #80bdff;
    outline: 0;
}
 .form_box textarea:focus{
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
    border-color: #80bdff;
}
 input::placeholder {
    color: #94A9A8;
}
 textarea#massage::placeholder {
    color: #94A9A8;
}
.form-button {
    text-align: left;
    margin-top: 24px;
}
.form-button button {
    display: inline-block;
    color: #fff;
    padding: 10px 28px;
    text-transform: capitalize;
    transition: 0.5s;
    font-size: 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: 5px;
    font-weight: 400;
    background: #DBA765;
    border: 1px solid #DBA765;
}
.form-button button:hover {
    color: #DBA765;
    background: #fff;
}
.list-group{
	display:flex;
	flex-direction:column;
}
.list-group-item{
	flex:auto;
}

.carda{
	width:;
}
.cardbuttons{
	width:80%;
	margin-left:9%;
	margin-top:15%;
}
.cardbuttons button{
	width:45%;
	padding:8px;
	cursor:pointer;
}	